@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer

@model aspnet.ViewModel.EditUserViewModel
@{
    ViewBag.Title = Localizer["editing"];
}
<form asp-action="Edit" asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">@Localizer["email"]</label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>
    </div>
    <div class="form-group">
        <input type="submit" value="@Localizer["save"]" class="btn btn-default" />
    </div>
</form>