@model aspnet.Models.Post

@foreach (var commentary in Model.Comments)
{
    <div id="commentdiv">
        <div class="card text">
            <div class="card-header">
                <b>@commentary.UserName</b> commented at @commentary.CreationTime
            </div>
            <div class="card-body">
                <a>@commentary.Text</a>
            </div>
        </div>
        <hr />
    </div>
}

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>