
@{
    ViewData["Title"] = "Posts";
}


<div class="row">
    <div class="col-md-2">
        <h1 class="my-4">
            Posts
        </h1>
    </div>
    <div class="col-md-5">
        @if (User.Identity.IsAuthenticated)
        {
            <a class="btn btn-default" style="margin-top:25px" asp-action="Create">Add post</a>
        }
    </div>
</div>

<hr/>


<div id="container">
</div>

<div class="pagination" id="pagination" style="padding:0px; margin:0px">
    <button id="prev-page-btn" class="btn btn-default" onClick="changePage(-1)" style="visibility:hidden">
        prev
    </button>
    <button id="next-page-btn" class="btn btn-default" onClick="changePage(1)" style="visibility:hidden">
        next
    </button>
</div>


<script type="text/javascript">
    const pagination = {
        currentPage: 1,
        lastPage: 1,
        perPage: 1
    };
    let content = [];
    checkDisable = () => {
        $("#prev-page-btn").css("visibility", "visible");
        $("#next-page-btn").css("visibility", "visible");
        if (pagination.currentPage == 1) {
            $("#prev-page-btn").css("visibility", "hidden");
        }
        if (pagination.currentPage == pagination.lastPage) {
            $("#next-page-btn").css("visibility", "hidden");
        }
    };
    changePage = (x) => {
        const newPage = pagination.currentPage + x;
        if (newPage > 0 && newPage <= pagination.lastPage) {
            pagination.currentPage = newPage;
        }
        updateContent();
    };
    updateContent = () =>
        $.ajax({
            cache: false,
            url: '@Url.Action("GetPosts", "Posts")',
            type: 'GET',
            data: { page: pagination.currentPage, perPage: pagination.perPage },
            success: result => {
                pagination.lastPage = result.lastPage;
                content = result.data;
                updateFlex();
                checkDisable();
            }
        })
    updateFlex = () => {
        const container = $("#container");
        container.empty();
        content.forEach(e =>
            container.append(
                    `
    <div class="container">

        <!-- Page Heading -->
        <!-- Project One -->
        <div class="row">
            
            <div class="col-md-3">
                <h3>${e.title}</h3 >
                <p><b>User: </b>${e.userName}</p>
                <p><b>Data: </b>${e.date}</p >
                <a class="btn btn-info" href="/Posts/Details/${e.id}">More</a>
            </div>
        </div>
        <!-- /.row -->

        <hr>
    </div>`
            ));
    };
    $().ready(function () {
        updateContent();
        updateFlex();
    });
</script>

