@model  IEnumerable<aspnet.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


    <ul>
    @foreach (var post in Model)
    {
    <li>
        @Html.Raw(post.Text)
        <im>@post.Time</im>
        @*@if (post.Comments != null)
        {
        <ul>
            @foreach (var comment in post.Comments)
            {
                <li>
                    comment
                </li>
            }
        </ul>
        }*@
        
    </li>
    }
</ul>
    