@model IEnumerable<aspnet.Models.Post>

@{
    ViewData["Title"] = "Posts";
}

<a asp-action="Create">Add post</a>


<div>
    @foreach (var post in Model)
    {
        <div>
            <div style="text-align:end">
                <span>

                </span>
            </div>
            <div style="text-align:center">
                <span>
                    Title
                </span>
            </div>
            <div>
                Body
            </div>

            <div style="display:flex">
                <span style="margin-right:auto">
                    1
                </span>
                <span>
                    2
                </span>
            </div>
            <textarea style="width:100%; height:200px">

            </textarea>
        </div>
    }
</div>

