@{
    ViewData["Title"] = "Home Page";
}


<div>
    <span style="text-align:center">
        <h1 style="font-size:100px">
            Welcome!
        </h1>
    </span>
</div>

<hr/>

<div style="text-align:center">
    <h1 style="font-size:60px">Cooperative "PINE EIGHT"</h1>
</div>
<div style="text-align:center">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjjQf2Sdreg8t-ql-Cf3SucXoKtO2hpa_bM_-ToNpJKgAJmuDoNQ&s"/>
</div>