@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["activity"];
}

<h1><b>@Localizer["message"]</b></h1>

<hr />

@await Component.InvokeAsync("RecentMessages")

